<%= form_for @event, :url => { :controller => 'events', :action => 'create' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "Create" %>
<% end %>

<% if @event.errors.any? %>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
