:root {
  --primary-color: rgb(105, 53, 172);
}

.tag {
  display: inline-block;
  background: rgb(224, 243, 228);
  color: rgb(66, 136, 78);
  padding: 2px 4px;
  opacity: .8;
  border-radius: 2px;
  font-weight: 800;
}

.nameCellNumber {
  font-size: 16px;
  color: var(--primary-color);
}

.nameSummaryNumber {
  font-size: 15px;
  color: var(--primary-color);
}

.cellSecondaryText {
  color: #999;
  font-size: 10px;
}

.dateSummaryMain {
  color: var(--primary-color);
  white-space: nowrap;
}

.progressBackground {
  position: relative;
  width: 100%;
  height: 4px;
  background: rgb(238, 238, 238);
}

.progressBar {
  position: absolute;
  height: 100%;
  background: rgb(66, 136, 78);
}

.tableContainer {
  border: 1px solid #ccc;
  background: #fff;
}

.tableWrapper {
  overflow: auto;
  max-height: calc(100vh - 120px);
  transition: opacity .2s;
}

.searchInput {
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  border-radius: 16px;
  padding: .5em 1em;
  margin: 12px;
}

.create-button {
  background-color: #40068b;
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  border-radius: 16px;
  padding: .5em 2em;
  margin: 12px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* float: right; */
}